<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.treshna.hornet"
    android:versionCode="119"
    android:versionName="0.19" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.any"
        android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen"/>
    <uses-feature android:name="android.hardware.nfc"
        android:required="false"/>

    <uses-permission android:name="android.permission.NFC" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.treshna.hornet" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <permission 
        android:name="com.treshna.hornet.GYMMASTER"
        android:protectionLevel="normal">
    </permission>

    <uses-permission android:name="com.treshna.hornet.GYMMASTER"/>
    <application
        android:name="HornetApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.treshna.hornet.sqlite.HornetContentProvider"
            android:authorities="com.treshna.hornet"
            android:permission="com.treshna.hornet.GYMMASTER"
            android:grantUriPermissions="true"
            android:exported="true" >
        </provider>

        <activity
            android:name="com.treshna.hornet.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.treshna.hornet.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.treshna.hornet.services.CameraWrapper"
            android:label="@string/title_activity_camera_wrapper"
            android:parentActivityName="com.treshna.hornet.MainActivity"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treshna.hornet.MainActivity" />
        </activity>

        <service android:name="com.treshna.hornet.network.HornetDBService">
           <!--  android:process=":treshna" > -->
        </service>

        <activity
            android:name="com.treshna.hornet.setup.SetupActivity"
            android:label="@string/title_activity_magic" >
        </activity>
        <activity android:name="Report_Types_ListActivity" android:launchMode="standard"></activity>
        <activity android:name="ReportNamesActivity"></activity>
        <activity android:name="ReportTypesAndNamesActivity"></activity>
        <activity android:name="Report_Date_Selector_Activity"></activity>
        <activity android:name="ReportDateOptionsActivity"></activity>
        <activity android:name="ReportColumnOptionsActivity"></activity>
        <activity android:name="ReportMainActivity"></activity>
        <activity android:name="ReportListingActivity"></activity>
    </application>

</manifest>